In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# 대용량 파일 읽어오기
data = pd.read_csv("./completion.csv")
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,24,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,1151,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,1151,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,1151,2005-10-30,3.50,1073.67
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,1151,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,363,2024-08-31,3.50,1362.43
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,390,2024-08-31,3.50,1362.43
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,1275,2024-08-31,3.50,1362.43
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,928,2024-08-31,3.50,1362.43
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,137,2024-08-31,3.50,1362.43

In [4]:
data.head()

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,"5,000",11,1998.0,24,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.878,"5,750",3,1997.0,1151,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.830,"5,500",8,1998.0,1151,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.990,"12,750",19,2003.0,1151,2005-10-30,3.50,1073.67
4,경기도 의정부시 용현동,용현현대1차,129.730,"12,200",11,1992.0,1151,2005-11-21,3.50,1060.19

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   거래금액(만원)  object
 4   층         int64
 5   건축년도      float64
 6   학원수       int64
 7   date      object
 8   기준금리      float64
 9   달러환율      float64
dtypes: float64(4), int64(2), object(4)
memory usage: 766.1+ MB

In [8]:
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,5000,11,1998.0,24,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,5750,3,1997.0,1151,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,5500,8,1998.0,1151,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,12750,19,2003.0,1151,2005-10-30,3.50,1073.67
4,경기도 의정부시 용현동,용현현대1차,129.7300,12200,11,1992.0,1151,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,3000,5,1992.0,363,2024-08-31,3.50,1362.43
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,52000,7,2017.0,390,2024-08-31,3.50,1362.43
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,4700,1,1999.0,1275,2024-08-31,3.50,1362.43
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,34200,15,2017.0,928,2024-08-31,3.50,1362.43
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,20900,15,2016.0,137,2024-08-31,3.50,1362.43

In [9]:
data['단지명'].nunique()

35135

In [12]:
data.isnull().sum()

시군구           0
단지명           0
전용면적(㎡)       0
거래금액(만원)      0
층             0
건축년도        115
학원수           0
date          0
기준금리          0
달러환율          0
dtype: int64

In [13]:
data = data.dropna(subset=['건축년도'])

In [14]:
data.isnull().sum()

시군구         0
단지명         0
전용면적(㎡)     0
거래금액(만원)    0
층           0
건축년도        0
학원수         0
date        0
기준금리        0
달러환율        0
dtype: int64

In [15]:
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,5000,11,1998.0,24,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,5750,3,1997.0,1151,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,5500,8,1998.0,1151,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,12750,19,2003.0,1151,2005-10-30,3.50,1073.67
4,경기도 의정부시 용현동,용현현대1차,129.7300,12200,11,1992.0,1151,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,3000,5,1992.0,363,2024-08-31,3.50,1362.43
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,52000,7,2017.0,390,2024-08-31,3.50,1362.43
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,4700,1,1999.0,1275,2024-08-31,3.50,1362.43
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,34200,15,2017.0,928,2024-08-31,3.50,1362.43
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,20900,15,2016.0,137,2024-08-31,3.50,1362.43

In [17]:
data['시군구'][0][0]

'강'

In [18]:
# 대용량 파일 읽어오기
local = pd.read_csv("./apt_data_completion.csv")
local

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,계약날짜,변경날짜,기준금리,시도교육청명,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,200509,23,"5,000",11,1998.0,2005-09-23,2004-11-11,3.25,강원특별자치도교육청,24
1,경기도 의정부시 신곡동,신일1,59.8780,200510,20,"5,750",3,1997.0,2005-10-20,2005-10-11,3.50,경기도교육청,1151
2,경기도 의정부시 신곡동,풍림,49.8300,200510,20,"5,500",8,1998.0,2005-10-20,2005-10-11,3.50,경기도교육청,1151
3,경기도 의정부시 민락동,한라비발디,84.9900,200510,30,"12,750",19,2003.0,2005-10-30,2005-10-11,3.50,경기도교육청,1151
4,경기도 의정부시 용현동,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,2005-11-21,2005-10-11,3.50,경기도교육청,1151
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,202408,31,"3,000",5,1992.0,2024-08-31,2023-01-13,3.50,충청남도교육청,363
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,202408,31,"52,000",7,2017.0,2024-08-31,2023-01-13,3.50,경상북도교육청,390
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,202408,31,"4,700",1,1999.0,2024-08-31,2023-01-13,3.50,경상북도교육청,1275
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,202408,31,"34,200",15,2017.0,2024-08-31,2023-01-13,3.50,경상남도교육청,928
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,202408,31,"20,900",15,2016.0,2024-08-31,2023-01-13,3.50,전북특별자치도교육청,137

In [19]:
local = local.dropna(subset=['건축년도'])

In [20]:
local.isnull().sum()

시군구         0
단지명         0
전용면적(㎡)     0
계약년월        0
계약일         0
거래금액(만원)    0
층           0
건축년도        0
계약날짜        0
변경날짜        0
기준금리        0
시도교육청명      0
학원수         0
dtype: int64

In [21]:
local

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,계약날짜,변경날짜,기준금리,시도교육청명,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,200509,23,"5,000",11,1998.0,2005-09-23,2004-11-11,3.25,강원특별자치도교육청,24
1,경기도 의정부시 신곡동,신일1,59.8780,200510,20,"5,750",3,1997.0,2005-10-20,2005-10-11,3.50,경기도교육청,1151
2,경기도 의정부시 신곡동,풍림,49.8300,200510,20,"5,500",8,1998.0,2005-10-20,2005-10-11,3.50,경기도교육청,1151
3,경기도 의정부시 민락동,한라비발디,84.9900,200510,30,"12,750",19,2003.0,2005-10-30,2005-10-11,3.50,경기도교육청,1151
4,경기도 의정부시 용현동,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,2005-11-21,2005-10-11,3.50,경기도교육청,1151
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,202408,31,"3,000",5,1992.0,2024-08-31,2023-01-13,3.50,충청남도교육청,363
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,202408,31,"52,000",7,2017.0,2024-08-31,2023-01-13,3.50,경상북도교육청,390
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,202408,31,"4,700",1,1999.0,2024-08-31,2023-01-13,3.50,경상북도교육청,1275
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,202408,31,"34,200",15,2017.0,2024-08-31,2023-01-13,3.50,경상남도교육청,928
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,202408,31,"20,900",15,2016.0,2024-08-31,2023-01-13,3.50,전북특별자치도교육청,137

In [22]:
data['시도교육청명']=local['시도교육청명']

C:\Users\5-11\AppData\Local\Temp\ipykernel_14436\218623333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['시도교육청명']=local['시도교육청명']

In [23]:
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율,시도교육청명
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,5000,11,1998.0,24,2005-09-23,3.25,1061.83,강원특별자치도교육청
1,경기도 의정부시 신곡동,신일1,59.8780,5750,3,1997.0,1151,2005-10-20,3.50,1077.02,경기도교육청
2,경기도 의정부시 신곡동,풍림,49.8300,5500,8,1998.0,1151,2005-10-20,3.50,1077.02,경기도교육청
3,경기도 의정부시 민락동,한라비발디,84.9900,12750,19,2003.0,1151,2005-10-30,3.50,1073.67,경기도교육청
4,경기도 의정부시 용현동,용현현대1차,129.7300,12200,11,1992.0,1151,2005-11-21,3.50,1060.19,경기도교육청
...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,3000,5,1992.0,363,2024-08-31,3.50,1362.43,충청남도교육청
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,52000,7,2017.0,390,2024-08-31,3.50,1362.43,경상북도교육청
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,4700,1,1999.0,1275,2024-08-31,3.50,1362.43,경상북도교육청
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,34200,15,2017.0,928,2024-08-31,3.50,1362.43,경상남도교육청
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,20900,15,2016.0,137,2024-08-31,3.50,1362.43,전북특별자치도교육청

In [25]:
data['시도교육청명'].unique()

array(['강원특별자치도교육청', '경기도교육청', '경상남도교육청', '경상북도교육청', '전북특별자치도교육청',
       '광주광역시교육청', '대구광역시교육청', '전라남도교육청', '대전광역시교육청', '충청남도교육청',
       '서울특별시교육청', '인천광역시교육청', '세종특별자치시교육청', '울산광역시교육청', '부산광역시교육청',
       '충청북도교육청', '제주특별자치도교육청'], dtype=object)

In [26]:
data_gangwon=data[data['시도교육청명']=='강원특별자치도교육청']

In [27]:
data_gangwon

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율,시도교육청명
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,5000,11,1998.0,24,2005-09-23,3.25,1061.83,강원특별자치도교육청
1605,강원특별자치도 춘천시 후평동,주공7,46.6800,5300,2,1989.0,688,2006-03-01,4.00,990.33,강원특별자치도교육청
1824,강원특별자치도 동해시 동회동,현대5차,134.7830,16500,2,1999.0,192,2006-03-01,4.00,990.33,강원특별자치도교육청
1830,강원특별자치도 원주시 문막읍 동화리,동보렉스6차,59.7000,4350,5,1993.0,951,2006-03-01,4.00,990.33,강원특별자치도교육청
1833,강원특별자치도 원주시 원동,원동현진,59.4000,5750,9,1996.0,951,2006-03-01,4.00,990.33,강원특별자치도교육청
...,...,...,...,...,...,...,...,...,...,...,...
10041411,강원특별자치도 원주시 단구동,청솔2차,58.6500,10450,5,2000.0,951,2024-08-31,3.50,1362.43,강원특별자치도교육청
10041412,강원특별자치도 원주시 명륜동,더샵원주센트럴파크2단지,84.9836,42000,5,2021.0,951,2024-08-31,3.50,1362.43,강원특별자치도교육청
10041413,강원특별자치도 원주시 명륜동,더샵원주센트럴파크3단지,59.9678,31000,15,2022.0,951,2024-08-31,3.50,1362.43,강원특별자치도교육청
10041421,강원특별자치도 원주시 문막읍 동화리,금광포란재,37.8000,3500,4,1993.0,951,2024-08-31,3.50,1362.43,강원특별자치도교육청
10041427,강원특별자치도 춘천시 효자동,현진에버빌3차,84.9140,37800,9,2014.0,688,2024-08-31,3.50,1362.43,강원특별자치도교육청

In [28]:
data_gangwon.to_csv('gangwon.csv', index=False)

In [29]:
education_offices = [
    '경기도교육청', '경상남도교육청', '경상북도교육청', '전북특별자치도교육청',
    '광주광역시교육청', '대구광역시교육청', '전라남도교육청', '대전광역시교육청', '충청남도교육청',
    '서울특별시교육청', '인천광역시교육청', '세종특별자치시교육청', '울산광역시교육청', '부산광역시교육청',
    '충청북도교육청', '제주특별자치도교육청'
]

for office in education_offices:
    # 특정 교육청에 해당하는 데이터만 필터링
    filtered_data = data[data['시도교육청명'] == office]
    
    # 파일 이름 생성 (예: gangwon.csv)
    filename = office + '.csv'
    
    # CSV 파일로 저장
    filtered_data.to_csv(filename, index=False)
    print(f'{filename} 저장 완료.')

경기도교육청.csv 저장 완료.
경상남도교육청.csv 저장 완료.
경상북도교육청.csv 저장 완료.
전북특별자치도교육청.csv 저장 완료.
광주광역시교육청.csv 저장 완료.
대구광역시교육청.csv 저장 완료.
전라남도교육청.csv 저장 완료.
대전광역시교육청.csv 저장 완료.
충청남도교육청.csv 저장 완료.
서울특별시교육청.csv 저장 완료.
인천광역시교육청.csv 저장 완료.
세종특별자치시교육청.csv 저장 완료.
울산광역시교육청.csv 저장 완료.
부산광역시교육청.csv 저장 완료.
충청북도교육청.csv 저장 완료.
제주특별자치도교육청.csv 저장 완료.