In [17]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
import time
from bs4 import BeautifulSoup
load_dotenv()

True

In [54]:

url=f"http://openapi.seoul.go.kr:8088/{os.getenv('seoulkey')}/xml/dreamMoney/1/1000/"

r=requests.get(url)

data=r.text
soup = BeautifulSoup(data, 'xml')
keys={}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name==None:
            continue
        else:
            keys.setdefault(tag.name,"")
result={}        
for key in keys:
    for item in soup.find_all(key):
        result.setdefault(item.name,[]).append(item.string)
result
result_df=pd.DataFrame(result)
result_df

,lo_org_cd,lo_org_nm,base_str_dt,base_end_dt,lo_cnt,min_lo_ir,max_lo_ir,avg_lo_ir,min_lo_ale_ir,max_lo_ale_ir,avg_lo_ale_ir
0,B01,국민은행,20240425,20240724,2185,5,5.8,5.31,1.75,2.5,1.85
1,B02,농협은행,20240425,20240724,1653,5.22,5.9,5.34,1.75,2.5,1.87
2,B06,신한은행,20240425,20240724,2176,5.2,6,5.33,1.75,2.5,1.86
3,B07,우리은행,20240425,20240724,3591,5.22,5.78,5.34,1.75,2.5,1.84
4,B08,기업은행,20240425,20240724,644,5.03,5.8,5.35,1.75,2.5,1.91
5,B09,하나은행,20240425,20240724,2697,5.11,5.8,5.34,1.75,2.8,1.87
6,B11,스탠다드차타드은행,20240425,20240724,349,5.22,5.64,5.35,1.75,2.5,1.8

In [42]:
soup = BeautifulSoup(data, 'xml')

In [45]:
soup.find_all('row')

[<row> <lo_org_cd>B01</lo_org_cd> <lo_org_nm>국민은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>2185</lo_cnt> <min_lo_ir>5</min_lo_ir> <max_lo_ir>5.8</max_lo_ir> <avg_lo_ir>5.31</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.85</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B02</lo_org_cd> <lo_org_nm>농협은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>1653</lo_cnt> <min_lo_ir>5.22</min_lo_ir> <max_lo_ir>5.9</max_lo_ir> <avg_lo_ir>5.34</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.87</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B06</lo_org_cd> <lo_org_nm>신한은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>2176</lo_cnt> <min_lo_ir>5.2</min_lo_ir> <max_lo_ir>6</max_lo_ir> <avg_lo_ir>5.33</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.86</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B07</lo_org_cd> <lo_org_nm>우리은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>3591</lo_cnt> <min_lo_ir>5.22</min_lo_ir> <max_lo_ir>5.78</max_lo_ir> <avg_lo_ir>5.34</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.84</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B08</lo_org_cd> <lo_org_nm>기업은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>644</lo_cnt> <min_lo_ir>5.03</min_lo_ir> <max_lo_ir>5.8</max_lo_ir> <avg_lo_ir>5.35</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.91</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B09</lo_org_cd> <lo_org_nm>하나은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>2697</lo_cnt> <min_lo_ir>5.11</min_lo_ir> <max_lo_ir>5.8</max_lo_ir> <avg_lo_ir>5.34</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.8</max_lo_ale_ir> <avg_lo_ale_ir>1.87</avg_lo_ale_ir> </row>,
 <row> <lo_org_cd>B11</lo_org_cd> <lo_org_nm>스탠다드차타드은행</lo_org_nm> <base_str_dt>20240425</base_str_dt> <base_end_dt>20240724</base_end_dt> <lo_cnt>349</lo_cnt> <min_lo_ir>5.22</min_lo_ir> <max_lo_ir>5.64</max_lo_ir> <avg_lo_ir>5.35</avg_lo_ir> <min_lo_ale_ir>1.75</min_lo_ale_ir> <max_lo_ale_ir>2.5</max_lo_ale_ir> <avg_lo_ale_ir>1.8</avg_lo_ale_ir> </row>]

In [57]:
keys={}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name==None:
            continue
        else:
            keys.setdefault(tag.name,"")
print(keys)
result={}        
for key in keys:
    for item in soup.find_all(key):
        result.setdefault(item.name,[]).append(item.string)
result

{'lo_org_cd': '', 'lo_org_nm': '', 'base_str_dt': '', 'base_end_dt': '', 'lo_cnt': '', 'min_lo_ir': '', 'max_lo_ir': '', 'avg_lo_ir': '', 'min_lo_ale_ir': '', 'max_lo_ale_ir': '', 'avg_lo_ale_ir': ''}

{'lo_org_cd': ['B01', 'B02', 'B06', 'B07', 'B08', 'B09', 'B11'],
 'lo_org_nm': ['국민은행', '농협은행', '신한은행', '우리은행', '기업은행', '하나은행', '스탠다드차타드은행'],
 'base_str_dt': ['20240425',
  '20240425',
  '20240425',
  '20240425',
  '20240425',
  '20240425',
  '20240425'],
 'base_end_dt': ['20240724',
  '20240724',
  '20240724',
  '20240724',
  '20240724',
  '20240724',
  '20240724'],
 'lo_cnt': ['2185', '1653', '2176', '3591', '644', '2697', '349'],
 'min_lo_ir': ['5', '5.22', '5.2', '5.22', '5.03', '5.11', '5.22'],
 'max_lo_ir': ['5.8', '5.9', '6', '5.78', '5.8', '5.8', '5.64'],
 'avg_lo_ir': ['5.31', '5.34', '5.33', '5.34', '5.35', '5.34', '5.35'],
 'min_lo_ale_ir': ['1.75', '1.75', '1.75', '1.75', '1.75', '1.75', '1.75'],
 'max_lo_ale_ir': ['2.5', '2.5', '2.5', '2.5', '2.5', '2.8', '2.5'],
 'avg_lo_ale_ir': ['1.85', '1.87', '1.86', '1.84', '1.91', '1.87', '1.8']}

In [56]:
df=pd.DataFrame(result)
df

,lo_org_cd,lo_org_nm,base_str_dt,base_end_dt,lo_cnt,min_lo_ir,max_lo_ir,avg_lo_ir,min_lo_ale_ir,max_lo_ale_ir,avg_lo_ale_ir
0,B01,국민은행,20240425,20240724,2185,5,5.8,5.31,1.75,2.5,1.85
1,B02,농협은행,20240425,20240724,1653,5.22,5.9,5.34,1.75,2.5,1.87
2,B06,신한은행,20240425,20240724,2176,5.2,6,5.33,1.75,2.5,1.86
3,B07,우리은행,20240425,20240724,3591,5.22,5.78,5.34,1.75,2.5,1.84
4,B08,기업은행,20240425,20240724,644,5.03,5.8,5.35,1.75,2.5,1.91
5,B09,하나은행,20240425,20240724,2697,5.11,5.8,5.34,1.75,2.8,1.87
6,B11,스탠다드차타드은행,20240425,20240724,349,5.22,5.64,5.35,1.75,2.5,1.8